<section>
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to Shop Bridge!!!</h1>
    </div>
</section>
<div class="container marketing">

     <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Online E-Commerce portal <span class="text-muted">For ThinkBridge.</span></h2>
       
       <p> To avail this service add your favourite things in your cart.</p>
      </div>
      <div class="col-md-5">
        <img src="assets/images/bslide1.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2 padding-left-20">
        <h2 class="featurette-heading ml-5">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead ml-5">Looking for different items like watch, Clothes, Utensils, Shoes or Outdoor Wear? Choose from a large range today.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/images/bslide2.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one.</h2>
        <p class="lead">A huge collection of kitchen and home equipments</p>
      </div>
      <div class="col-md-5">
        <img src="assets/images/bslide3.jpg" alt="first slide" style="display: block; width: 500px; height: 500px">
      </div>
    </div>

  </div>